[user]
	email = "mac@wearequantum.co.uk"
	name = "Mac"
	signingKey = "~/.ssh/id_rsa"
[alias]
	aac = "!f() { git add . && git commit -S -m \"$1\"; }; f"
	ac = "!f() { git add $1 && git commit -S -m \"$2\"; }; f"
	b = "branch"
	bd = "branch -d"
	br = "!f() { git branch -m $1; }; f"
	bs = "switch"
	ca = "!f() { git commit --amend -m \"$1\"; }; f"
	cl = "!f() { if [[ \"$1\" =~ ^-h|--https ]]; then proto=\"https\"; shift; else proto=\"ssh\"; fi; if [[ \"$1\" =~ .*/.* ]]; then repo=\"$1\"; else repo=\"maclong9/$1\"; fi; if [ \"$proto\" = \"ssh\" ]; then git clone git@github.com:$repo.git; else git clone https://github.com/$repo.git; fi; }; f"
	d = "diff"
	l = "log --oneline --decorate --all"
	lg = "log --graph --oneline --decorate --all"
	p = "push"
	pl = "pull"
	plo = "pull origin"
	pf = "push --force"
	r = "restore"
	st = "status"
	sh = "show"
	spo = "stash pop"
	spu = "stash push -u"
	u = "reset --soft HEAD~1"
[init]
	defaultBranch = "main"
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[gpg]
	format = ssh
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
