[user]
	email = "hello@maclong.uk"
	name = "Mac Long"
	signingKey = /Users/mac/.ssh/id_ed25519
[alias]
	aac = "!f() { git add . && git commit -S -m \"$1\"; }; f"
	ac = "!f() { git add $1 && git commit -S -m \"$2\"; }; f"
	b = "branch"
	bd = "branch -d"
	br = "!f() { git branch -m $1; }; f"
	bs = "switch"
	ca = "!f() { git commit --amend -m \"$1\"; }; f"
	d = "diff"
	l = "log --oneline --decorate --all"
	lg = "log --graph --oneline --decorate --all"
	p = "push"
	pl = "pull"
	plo = "pull origin"
	pf = "push --force"
	r = "restore"
	st = "status"
	sh = "show"
	spo = "stash pop"
	spu = "stash push -u"
	u = "reset --soft HEAD~1"
[init]
	defaultBranch = "main"
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[gpg]
	format = ssh
[includeIf "gitdir:~/Developer/work/"]
    path = ~/.gitconfig-work
