[language-server.harper-ls]
command = "harper-ls"
args = ["--stdio"]

[language-server.tailwindcss-ls]
command = "tailwindcss-language-server"
args = ["--stdio"]

[language-server.deno-ls]
command = "deno"
args = ["lsp"]
config.deno.enable = true
config.deno.lint = true
config.deno.unstable = true

[[language]]
name = "bash"
formatter = { command = "shfmt", args = ["-i", "4", "-ci"] }

[[language]]
name = "html"
file-types = ["html"]
language-servers = [ "vscode-html-language-server", "tailwindcss-ls" ]

[[language]]
name = "css"
language-servers = [ "vscode-css-language-server", "tailwindcss-ls" ]
indent = { tab-width = 4, unit = "    "}

[[language]]
name = "markdown"
language-servers = [ "marksman", "harper-ls" ]
soft-wrap.enable = true

[[language]]
name = "javascript"
scope = "source.js"
file-types = ["js", "mjs"]
language-servers = ["deno-ls", "tailwindcss-ls"]
formatter = { command = "deno", args = ["fmt", "-"] }

[[language]]
name = "typescript"
scope = "source.ts"
file-types = ["ts", "mts"]
language-servers = ["deno-ls", "tailwindcss-ls"]
formatter = { command = "deno", args = ["fmt", "-"] }

[[language]]
name = "jsx"
scope = "source.jsx"
file-types = ["jsx"]
language-servers = ["deno-ls", "tailwindcss-ls"]
formatter = { command = "deno", args = ["fmt", "-"] }

[[language]]
name = "tsx"
scope = "source.tsx"
file-types = ["tsx"]
language-servers = ["deno-ls", "tailwindcss-ls"]
formatter = { command = "deno", args = ["fmt", "-"] }

[[language]]
name = "typst"
scope = "source.typst"
file-types = ["typ"]
formatter = { command = "typstyle", args = ["-"] }
auto-format = true
