layout {
    cwd "."
    tab name="Editor" focus=true {
        pane command="hx" {
            args "README.md"
        }
        pane size=1 borderless=true {
            plugin location="zjstatus"
        }
    }
    tab name="Console" hide_floating_panes=true {
        pane split_direction="horizontal" {
            pane command="claude" cwd="." size="50%" 
            pane cwd="." command="zsh" size="50%"
        }
        pane size=1 borderless=true {
            plugin location="zjstatus"
        }
    }
}

