layout {
    cwd "."
    tab name="Editor" focus=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="hx" {
            args "README.md"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Console" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="claude" cwd="." size="50%" 
        pane cwd="." size="50%"
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}

